.lead {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  width: 984px;
}


@media screen and (max-width: 1024px) {
  .lead {
    padding: 0;
    width: 928px;
  }
}

@media screen and (max-width: 995px) {
  .lead {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .lead {
    width: 320px;
  }
}



