.header {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 1184px;
  padding-top: 28px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}


@media screen and (max-width: 1259px) {
  .header {
    width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    width: 500px;
    padding: 16px 16px 0 16px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    width: 288px;
    padding: 0;
    padding-top: 16px;
  }
}

