.intro {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 984px;
  margin: 0 auto;
  padding-top: 92px;
}

@media screen and (max-width: 1100px) {
  .intro {
    padding-left: 24px;
  }
}


@media screen and (max-width: 1023px) {
  .intro {
    width: 100%;
    padding: 88px 24px 0 24px;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    width: 320px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    width: 100%;
    padding: 64px 16px 0 16px;
  }
}

